@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

html, body {
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    width: inherit;
    height: 100%;
    z-index: 0;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.aside {
    position: absolute;
    left:10px;
    top:2px;
}


#search {
    all: unset;
    width: 100%;
    height: 2em;
    text-indent: 0.5em;
    color: black;
    border-radius: 0.5em;
    background-color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.control-container {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
}

.leaflet-control {
    width: 100%;
    background-color: white;
    border-radius: 0.5em;
    overflow: hidden;
}

.leaflet-control-opencage-geocoding-form > input {
    all: unset;
    width: 100%;
    height: 2em;
    text-indent: 0.5em;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leaflet-control-opencage-geocoding-form-no-error {
    display: none;
}

.leaflet-control-opencage-geocoding-alternatives {
    list-style: none;
}

.leaflet-control-opencage-geocoding-alternatives > li > a{
    text-decoration: none;
    color: black;
}

.leaflet-marker-icon {
    content: url(icon.svg);
}

.leaflet-marker-icon:hover {
    content: url(icon-hover.svg);
}

.slideshow-image {
    max-width: 100%;
    height: auto;
  }

.footer {
    position: absolute;
    left:0px;
    bottom:0px;
    width: 200px;
    height: auto;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    fill: black;
}